/* HEADER */
header {
  width: 950px;
  height: 100px;
  margin:auto;
  margin-top: 10px;
}
header nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-left: 40px;
  width: 100%;
  height: 100%;
}
header nav img {
  width: 95px;
  margin-right: 37px;
}
header nav a {
  position: relative;
  height: 100%;
  padding:0 5px;
  margin: 0 35px;
  font-size: 20px;
  font-weight: 400;
  line-height: 100px;
  overflow: hidden;
}
header nav a::after {
  position: absolute;
  bottom: 30px;
  left: -100%;
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgb(131, 131, 131);
  transition: .3s;
}
header nav a:hover::after {
  left:0;
}
header nav a:nth-child(2):after {
  position: absolute;
  bottom: 30px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #dd1920;
}
header nav a:nth-child(2) {
  font-weight: 600;
  color: #dd1920;
}
.userInquiryContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inner {
  width: 950px;
  height: auto;
}
.title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 23px;
}
.btnBox {
  display: flex;
  justify-content: flex-end;
  height: 32px;
}
.btnBox p {
  margin: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.btnBox .horLine {
  display: block;
  width: 1px;
  height: 18px;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}
.line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.183);
  margin-top: 10px;
}
.contentBox {
   display: flex;
   flex-direction: column;
}
.con {
  display: flex;
  margin-top: 20px;
}
.con:nth-child(1) {
  margin-top: 45px;
}
.con p {
  width: 138px;
  text-align: end;
  margin-right: 30px;
  font-size: 18px;
  line-height: 42px;
  font-weight: 500;
}
.con input {
  width: 490px;
  height: 42px;
}